.idea/
/venv/
/*/migrations/
/*/*/migrations/
/__pycache__/
/*/__pycache__/
/*/*/__pycache__/
/centurion_crowdsale/settings_email.py
/centurion_crowdsale/settings_local.py
mywill_scanner/db.sqlite3
mywill_scanner/settings/
add_project.py
